p{
    margin-bottom: 1em;
}
.info-container{
    width:90%;
    margin:auto;
    margin-top:1.5%;
    line-height:25px;
}
.edit-icon{
    position:absolute;
    top:2%;
    right:2%;
}
.info-container > *{

    border: 1px solid rgb(223, 222, 222);
    margin-bottom: 1rem;
    padding:1rem;
}

.identity-section{
    text-align: center;
    line-height:25px;

}
.identity-section > .identity-img{
    background-color:rgb(129, 127, 127);
    width:150px;
    height:150px;
    margin: auto;
    margin-bottom: 2em;;

}

.contact-section {

}

.contact-section{

    display:flex;
    align-items: stretch ;

}
.contact-section >.contact-col{

   width:30.33%;
   display:inline-block;
   margin:1rem;
   padding:0rem;


}


.description-section{
    margin-top: 1rem;
}

